body{
    background-color: #fafafa;
    margin: 0;
}
nav {
    background-color: #ffff;
    height: 3.4em;
    line-height: 3.6em;
    margin: 0 9.5em;  
    
}
.logo{
    text-decoration: none ;
    /* position: fixed; */
    margin-left: 50px;
    
    
}   

/* .logo>img>input>span>a>i{
    
} */

header{

    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;  
    flex-direction: row;
    border-bottom: 0.1px solid #dbdbdb;
    position: fixed;
    flex-grow: 1;
    flex-shrink: 1;
   
}

.logo>img{
    vertical-align: middle;
    
}
.search{
    background-color: #fafafa;
    margin-left: 19em;
    height: 1.7em;
    width: 15.2em;
    
    border: 1px solid #dbdbdb;
    
 
}
.search::placeholder{
    text-align: center;
    color: #a5acaa;
    /* position: fixed center; */
   
}

.nav-links{
    margin-left: 11em;
    word-spacing: 10px;
   
}

.nav-links>a{
    margin-right: 1.2em;
      
}


.nav-links i{
    transform: scale(1.4);
    color: #252525 ;
    position: fixed center;
    vertical-align: middle;
   
}


.all{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    padding-top: 90px;
   
}

.item{
    display: flex;
    border-top: 1px solid #dbdbdb;
    /* border-bottom: 1px solid #dbdbdb; */
    border-right: 1px solid #dbdbdb ;
    border-left: 1px solid #dbdbdb;
    padding-bottom: 15px;
    padding-top: 15px;
    /* padding-left: 50px;
    padding-right: 20px; */
    /* align-content: space-between; */
    justify-content: space-between;
    box-sizing: border-box;

  } 


.item> img{
    display: flex;
    align-items: center;
    border-radius: 50%;
    height: 70px;
    width: 70px;
   
}

.story{
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-left: 240px;
    margin-right: 40px;
    word-spacing: 4px;
    /* align-content: space-between; */
    
    
}

.all1{
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-right: 40px;
    margin-left: 240px;
    margin-top: 30px;

}


.card-item{
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid #dbdbdb;

}

.card-item1{
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid #dbdbdb;

}


.card-item2{
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid #dbdbdb;

}

.card-item >.userName{
    display:flex;
    padding-left: 10px;
}

.class-item1>.username{
    display:flex;
    padding-left: 10px;
}
    
.class-item2>.username{
    display:flex;
    padding-left: 10px;
}

.like{
    display:flex;
    margin-right: 100px ;
   
}
.like >img{
    padding-top: 11px;
    padding-left: 10px;
    cursor: pointer;
    
    
}
.username{
    display: flex;
    flex-direction: row;
    
   

}





/* .all1{
    border-right: 1px solid #dbdbdb;
} */
.comment{
    border: none;
    background: transparent;
    
}

.second{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-top: 23px;

}

.username>.lines{
    display: flex;
    flex-direction: row;
}

.ttag{
    margin-left: 20px;
    color: rgb(201, 198, 198);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 10px;
    font-stretch: extra-expanded;
    word-spacing: 15px;
 }

 form{
    align-items: center;
    margin-left: 20px;
    color: rgb(201, 198, 198);
    margin-bottom: 20px;
    border-bottom: 50px transparent #dbdbdb;
    font-size: 10px;
    
}

select{
    border: none;
    color: rgb(201, 198, 198);
    
    
}

